# Example client-side environment variables
# Copy this file to .env and fill in your actual values

# API URL (development)
REACT_APP_API_URL=http://localhost:5000

# Client URL (development)
REACT_APP_CLIENT_URL=http://localhost:3000

# API URL (production)
REACT_APP_API_URL=https://expense-tracker-api-s7za.onrender.com

# Client URL (production)
REACT_APP_CLIENT_URL=https://expense-tracker-sigma-green.vercel.app
